<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="T4SQLDB" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=T4SQLDB;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="Engine_Package" value="T4SQL.ENGINE_" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Templates"/>
		</assemblyBinding>
	</runtime>
</configuration>