<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
	</configSections>
	<connectionStrings>
		<!--<add name="T4SQLDB" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=T4SQLDB;Integrated Security=True"/>-->
		<add name="T4SQLDB" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=ORCL;User Id=/" />
	</connectionStrings>
	<appSettings>
		<!-- For SQL Server -->
		<!--<add key="Engine_Package" value="T4SQL.ENGINE_" />-->
		<!-- For Oracle -->
		<add key="Engine_Package" value="T4SQL.ENGINE." />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Templates"/>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<!-- Remove in case this is already defined in machine.config -->
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
		</DbProviderFactories>
	</system.data>
	<oracle.manageddataaccess.client>
		<version number="*">
			<settings>
				<!-- Set this path if you are using TNS aliases as connection strings -->
				<!-- Instead you can use "SERVER_NAME:PORT/SERVICE_NAME" as your data source -->
				<setting name="TNS_ADMIN" value="C:\oracle\product\11.2.0\client_1\network\admin" />
			</settings>
		</version>
	</oracle.manageddataaccess.client>
</configuration>